.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0, 0.8);
    min-width: 150px;
}

.card .result {
    font-size: 1.3rem;
}
