@use "../../style/abstracts/mixins" as m;
@use "../../style/abstracts/variables" as v;

.bodyparse-form {
    @include m.transparent;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: v.$main-shadow;

    .personal-data {
        display: flex;
        justify-content: center;
    }

    @include m.phone {
        .personal-data {
            flex-wrap: wrap;
        }
    }

    button {
        @include m.light-bg;
        width: fit-content;
        margin: 20px auto;
        color: v.$secondary-color;
        max-width: 100px;
        padding: 8px 10px;
        box-shadow: none;
        font-weight: 500;
        letter-spacing: 1px;
    }
}
