.IMGSelector {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.IMGSelector select {
    font-size: 1rem;
}

input[name="specBFP"] {
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    margin-top: 5px;
    padding: 3px 10px;
    padding-left: 35px;
    border-radius: 6px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
    appearance: textfield;
}

input[name="specBFP"]:focus {
    outline: 2px solid rgba(255, 255, 255, 0.2);
}

input[name="specBFP"]::-webkit-outer-spin-button,
input[name="specBFP"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
