@use "../../../style/abstracts/mixins" as m;

.options {
    @include m.border;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 50%;
    margin: 20px;
    padding: 10px;

    @include m.phone {
        .options {
            max-width: 280px;
        }
    }
}
