@use "../../../style/abstracts/variables" as v;

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: v.$main-shadow;
    min-width: 150px;
    min-height: 150px;
    cursor: default;

    .toggler {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 3;
        opacity: 0;
    }

    .arrow {
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        z-index: 2;
        padding-left: 4px;
        padding-bottom: 23px;
        animation-name: twinkle;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @keyframes twinkle {
            from {
                transform: scale(0.8);
            }
            to {
                transform: scale(1.2);
            }
        }
    }
}
