@use "../style/abstracts/variables" as v;

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: v.$main-bg;

    .container {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        box-shadow: v.$main-shadow;
        margin: 20px;
        max-width: 900px;
    }

    h1 {
        text-align: center;
        font-weight: 600;
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
