@use "../../../../style/abstracts/mixins" as m;
@use "../../../../style/abstracts/variables" as v;

.measurement {
    margin-bottom: 20px;

    &::first-letter {
        text-transform: uppercase;
    }

    input {
        @include m.number-input;
    }

    label {
        font-style: italic;
    }
}
