@use "../../../../style/abstracts/mixins" as m;
@use "../../../../style/abstracts/variables" as v;

.BFPSelector {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    select {
        @include m.light-bg;
        font-size: 1rem;
        padding: 5px;
    }

    input[name="specBFP"] {
        @include m.number-input;
        margin-top: 5px;
    }
}
