@use "../../../../style/abstracts/mixins" as m;
@use "../../../../style/abstracts/variables" as v;

.BFPSelector {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    select {
        @include m.light-bg;
        font-size: 1rem;
        padding: 5px;
    }

    input[name="specBFP"] {
        @include m.border;
        width: 100%;
        outline: none;
        background: transparent;
        margin-top: 5px;
        padding: 3px 10px;
        padding-left: 35px;
        color: v.$main-color;
        font-size: 1.3rem;
        font-weight: 300;
        box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
        appearance: textfield;
    }
}
